.vscode/
BalootOlympicsTeamsApi/AppKeys
BalootOlympicsTeamsApi/bin
BalootOlympicsTeamsApi/obj
BalootOlympicsTeamsApi/Info_logs/
BalootOlympicsTeamsApi/Error_logs/
BalootOlympicsTeamsApi/ServicesAccounts